<h1>Customers list</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Company name</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
    </tr>
  </thead>
  <tbody>
    i
    <tr *ngFor="let customer of customers$ | async">
      <th scope="row">1</th>
      <td>{{ customer.id }}</td>
      <td>{{ customer.company_name }}</td>
      <td>{{ customer.first_name }}</td>
      <td>{{ customer.last_name }}</td>
    </tr>
  </tbody>
</table>
