<h1>Customer details</h1>

<div *ngIf="customer$ | async as customer">
  <ul *ngIf="customer"><h2>{{ customer.first_name }} {{ customer.last_name }}</h2>

        <li>ID: {{ customer.id }}</li>
        <li>Company name: {{ customer.company_name }}</li>
        <li>Email: {{ customer.email}}</li>
        <li>Phone number: {{ customer.phone_number}}</li>
        <li>Address: {{ customer.address}}</li>
        <li>Zip code: {{ customer.zip_code}}</li>
        <li>City: {{ customer.city}}</li>
        <li>Country: {{ customer.country}}</li>
        <li>State: {{ customer.state}}</li>
    </ul>
    <p *ngIf="!customer">Aucun client trouvé.</p>
</div>



